:root {
    --main-color: #05C136;
    --hover-color: #05932a;
    --hover-button: #05ac2e;
    --orange-color: #FF8500;
    --blue-color: #00ABE3;
}

body {
    line-height: 1.5;
    color: #8c92a0;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Roboto', sans-serif !important;
    background: #fff
}

a {
    color: inherit;
    text-decoration: none !important;
    font-size: .95rem;
}

b, strong {
    font-weight: bold;
}

em, i {
    font-style: inherit;
}

u {
    text-decoration: underline;
}

img, iframe {
    vertical-align: middle;
}

.overflow-hidden {
    overflow: hidden !important;
}

.wrapper_header {
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
}

.header_grid {
    position: relative;
    width: 100%;
    z-index: 10;
}

.header_logo {
    width: 15rem;
}

.header_logo img {
    height: 6rem;
    vertical-align: middle;
}

.header_navigation {
    width: calc(100% - 15rem);
    display: flex;
    justify-content: flex-end;
}

.header_navigation > ul {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.header_navigation > ul > li {
    position: relative;
    transition: .4s all;
}

.header_navigation > ul > li > a {
    padding: 35px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    transition: .4s all;
    color: #fff;
}

.header_navigation > ul > li:hover > a {
    color: var(--main-color)
}

.header_navigation > ul > li > a > i {
    height: .5rem;
    display: inline-block;
    margin-left: 5px;
    transition: .4s all;
    line-height: .4rem;
}

.header_navigation > ul > li > a > i:before {
    font-size: .6rem;
    margin-left: 0px;
}

.header_navigation > ul > li:hover i {
    transform: rotate(180deg);
}

.header_navigation > ul > li:last-child {
    margin-left: 20px;
}

.header_navigation > ul > li:last-child a {
    display: flex;
    align-items: center;
    padding: 13px 30px;
    position: relative;
    background: var(--main-color);
    transition: all 0.3s ease;
    border-radius: 3px;
    overflow: hidden;
}

.header_navigation > ul > li:last-child a > span {
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.header_navigation > ul > li:last-child a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    background: var(--hover-button);
    transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
}

.header_navigation > ul > li:last-child:hover a:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

@media screen and (min-width: 992px) {
    .header_navigation > ul > li:hover > ul {
        z-index: 10;
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
    }

    .header_navigation > ul > li > ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 200px;
        transform: scaleY(0);
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background-color: var(--main-color);
        transition: .4s all ease-in-out;
        transform-origin: top;
    }
}

.header_navigation > ul > li > ul > li {
    border-bottom: 1px solid #ffffff40;
    transition: .4s all;
}

.header_navigation > ul > li > ul > li:last-child {
    border-bottom: 0;
}

.header_navigation > ul > li > ul > li > a {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .95rem;
    color: #fff;
    transition: .4s all;
}

.header_navigation > ul > li > ul > li:hover {
    background-color: #fff;
}

.header_navigation > ul > li > ul > li:hover > a {
    color: var(--main-color);
    padding-left: 20px;
}

@media screen and (max-width: 991px) {
    .wrapper_header {
        top: 0;
    }

    .humburger {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 20px;
        height: 14px;
        cursor: pointer;
        -ms-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: 99999;
    }

    .humburger:before, .humburger:after, .humburger span {
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        width: 20px;
        border-radius: 1px;
        background: #fff;
        transition: all .4s;
    }

    .humburger:before {
        top: 0;
    }

    .humburger.active_humburger:before {
        top: 50%;
        margin-top: -1px;
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .humburger:after {
        bottom: 0;
    }

    .humburger.active_humburger:after {
        bottom: 50%;
        margin-bottom: -1px;
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .humburger span {
        position: absolute;
        top: 50%;
        margin-top: -1px;
    }

    .humburger.active_humburger span {
        opacity: 0;
    }

    .header_navigation {
        transition: .4s all ease-in-out;
        vertical-align: middle;
    }

    .header_navigation:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        z-index: 85;
        width: 100vw;
        height: 100vh;
        visibility: hidden;
        background: transparent;
        transition: all .4s;
    }

    .header_navigation.overlay:before {
        visibility: visible;
        background: rgba(0, 0, 0, 0.3);
    }

    .header_navigation > ul {
        display: flex;
        align-items: center;
        position: fixed;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        top: 0;
        right: -150%;
        overflow-y: auto;
        z-index: 1000100;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: calc(100% - 60px);
        height: 100vh;
        max-width: 400px;
        background: #fff;
        border-bottom: none;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.51);
        transition: all .5s;
    }

    .header_navigation > ul.active_menu {
        right: 0;
    }

    .header_navigation > ul > li, .header_navigation > ul > li > ul > li, .header_navigation > ul > li > ul > li > ul > li {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        /*min-height: 45px;*/
        transition: all .3s;
        width: 100%;
        border-bottom: 1px solid #d9d9d9;
    }

    .header_navigation > ul > li > a, .header_navigation > ul > li > ul > li > a, .header_navigation > ul > li > ul > li > ul > li > a {
        display: block;
        width: 100%;
        padding: 10px 15px 10px 15px;
        color: #181818;
        font-size: .85rem;
        text-transform: uppercase;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
    }

    .header_navigation > ul > li:last-child {
        margin: 0;
        border-bottom: 0;
        margin-top: 15px;
    }

    .header_navigation > ul > li:last-child a {
        max-width: 150px;
        justify-content: center;
        margin: 0 auto;
        padding: 13px 0;
    }

    .header_navigation > ul > li:last-child a {
        font-size: .8rem;
    }

    .header_navigation > ul > li:hover > a {
        color: #000;
    }

    .header_navigation > ul > li:hover i {
        transform: rotate(0deg);
    }

    .header_navigation > ul > li.open_menu {
        display: block;
    }

    .header_navigation > ul > li > ul {
        display: none;
    }

    .header_navigation > ul > li.open_menu > ul {
        display: block;
        position: relative;
        overflow: hidden;
        transition: .4s all ease-in-out;
        height: 100%;
        width: 100%;
        padding-left: 0;
    }

    .header_navigation > ul > li.open_menu > a {
        color: var(--main-color);
    }

    .header_navigation > ul > li.open_menu > a > i {
        transform: rotate(180deg);
    }

    .header_navigation > ul > li.open_menu > ul > li > a {
        font-size: .8rem;
        padding-left: 30px;
    }

}

.wrapper_banner {
    position: relative;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background: url('../images/banner/1920x850-banner-01.jpg') center no-repeat;
    background-size: cover;
}

.main__banner {
    position: absolute;
    z-index: 3;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.banner__title {
    font-size: 6rem;
    color: #fff;
    line-height: 2;
    font-weight: bold;
}

.banner__desc {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 60%;
    margin: 0 auto;
}

.banner__action {
    padding-top: 50px;
}

.style_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 30px;
    position: relative;
    background: var(--main-color);
    transition: all 0.3s ease;
    border-radius: 3px;
    overflow: hidden;
    max-width: 150px;
    margin: 0 auto;
    text-transform: capitalize;
}

.style_button > span {
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.style_button:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    background: var(--hover-button);
    transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
}

.style_button:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

button.style_button {
    border: 0;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    border-radius: 0;
    width: 100%;
    margin-top: 15px;
    max-width: unset;
}

.wrapper_category {
    padding: 70px 0;
}

[class*="absolute_"] {
    position: absolute;
    content: "";
}

.absolute_1 {
    top: 0;
    right: 0;
}

.absolute_2 {
    left: 0;
    bottom: 0;
}

.absolute_3 {
    right: 0;
    bottom: 0;
}


.text-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text-line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.wrapper_title_01 {
    margin-bottom: 60px;
    text-align: center;
}

.wrapper_title_01 h3 {
    font-size: 2.4rem;
    color: #000;
    line-height: 42px;
    text-transform: capitalize;
    font-weight: bold;
}

.wrapper_title_01 p {
    max-width: 500px;
    margin: auto;
    color: #333;
    font-size: 1rem;
    line-height: 28px;
}

.wrapper_title_02 {
    margin-bottom: 40px;
    text-align: left;
}

.wrapper_title_02 h2 {
    font-size: 3rem;
    color: var(--main-color);
    line-height: 60px;
    font-weight: bold;
    text-transform: capitalize;
}

.wrapper_title_02 h2 span {
    font-size: 2.4rem;
    color: #000;
    line-height: 42px;
    display: block;
    font-weight: 300;
    text-transform: capitalize;
}

.wrapper_title_02 h3 {
    font-size: 2.4rem;
    color: #000;
    line-height: 42px;
}

.wrapper_title_02 h5 {
    font-size: 1.4rem;
    color: #222;
    line-height: 1.4;
    margin-bottom: 0;
}

.wrapper_title_02 p {
    margin: auto;
    color: #333;
    font-size: 1rem;
    line-height: 28px;
}

.category__inner {
    padding: 30px 15px;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #f8fafe;
    border: 1px solid #f1f1f1;
}

.category__image,
.category__content {
    width: 50%;
}

.wrapper_category a {
    display: block;
}

.category__image img {
    width: 100%;
    vertical-align: middle;
}

.category__content h5 {
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 24px;
}

.category__content p {
    color: #333;
    font-size: 1rem;
    line-height: 20px;
}

.category__inner:hover {
    margin-top: -5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.category__inner:hover h5 {
    color: var(--main-color)
}

.py-100px {
    padding-top: 100px;
    padding-bottom: 100px;
}

.py-40px {
    padding-top: 40px;
    padding-bottom: 40px;
}

.py-50px {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pt-100px {
    padding-top: 100px;
}

.wrapper_about,
.wrapper_background {
    background: url('../images/background-01.jpg') center center no-repeat;
    background-size: cover;
}

.wrapper_blog {
    background: #f8f9f9
}

.about_image {
    margin-left: -75px;
}

.about_image img {
    width: 100%;
}

.about__icon {
    width: 60px;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.about__icon img {
    width: 100%;
}

.about__desc {
    width: calc(100% - 60px);
    padding-left: 15px;
}

.about__desc h5 {
    font-size: 20px;
    line-height: 28px;
    color: #181818;
    font-weight: 700;
    margin-bottom: 7.5px;
}

.about__desc p {
    max-width: 300px;
    margin-bottom: 0;
    color: #555;
    font-size: 1rem;
}

.about_image {
    bottom: 0;
    right: -350px;
}

.about_inner p {
    font-size: 1.1rem;
    color: #555;
}

.page__about {
    background: transparent !important;
}

.button_left {
    text-align: left;
}

.button_left .style_button {
    margin: 4rem 0 0;
}

.wrapper_background .button_left .style_button {
    margin-top: 2rem;
}


.gallery__inner img {
    width: 100%;
}

.gallery__inner .gallery__content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0%;
    width: 0%;
    opacity: 0;
    visibility: hidden;
    background: rgba(5, 238, 66, 0.6);
    transition: .3s all ease-in-out;
}

.gallery__inner .gallery__content a {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    line-height: 36px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__inner:hover .gallery__content {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.gallery_tab a {
    padding: 0 !important;
    margin: 0 10px !important;
    font-size: 1rem !important;
}

.gallery_tab a.active,
.gallery_tab a:hover {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color) !important;
}

.background_image {
    right: unset;
}

.background_image img {
    width: 100%;
}

.blog_inner {
    box-shadow: 0 0 6px rgba(8, 136, 136, 0.08);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #d9d9d9
}

.blog_image a img {
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blog_meta {
    top: 10px;
    left: 10px;
    padding: 8px 20px;
    background: var(--main-color);
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.blog_meta p {
    color: #fff;
    margin-bottom: 5px;
    line-height: 1;
    font-size: 1.4rem;
    font-weight: bold;
}

.blog_meta span {
    font-size: 1rem;
    color: #fff;
    line-height: 1;
}

.blog_content {
    padding: 30px;
    background-color: #fff;
    text-align: center;
}

.blog__title a h5 {
    margin-bottom: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.25rem;
    color: #000;
    font-weight: bold;
    line-height: 28px;
}

.blog__desc p {
    font-size: 1rem;
    color: #565656;
    line-height: 24px;
    position: relative;
}

.blog__desc p a {
    font-weight: bold;
    color: #444;
    font-size: 1.05rem;
}

.blog__desc p.position-border {
    padding-right: 10px;
    margin-right: 10px;
}

.blog__desc p.position-border:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 14px;
    right: 0;
    top: 50%;
    background: #dddcdc;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.blog__link a {
    color: var(--main-color);
    font-weight: 700;
    font-size: 1.1rem;
}

.blog__link a:hover {
    color: var(--hover-color);
}

.blog_inner:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(136, 136, 136, 0.1);
}

.blog_inner:hover .blog_image a img {
    transform: scale(1.1);
}

.blog_inner:hover .blog__title a h5 {
    color: var(--hover-color);
}

.partner-item img {
    max-width: 150px;
    margin: 0 auto;
}

.wrapper_subscribe {
    background: var(--main-color)
}

.subscribe_title h5 {
    color: #fff;
    font-size: 2.4rem;
    line-height: 40px;
    margin-bottom: 0;
}

.subscribe_form .form-group {
    margin-bottom: 0;
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.subscribe_form .form-group input {
    width: calc(100% - 130px);
    padding: 15px;
    padding-left: 5px;
    margin-right: 10px;
    height: 40px;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    font-size: 1rem;
}

.subscribe_form .form-group button {
    width: 120px;
    padding: 0 15px;
    color: #fff;
    background: var(--main-color);
    outline: none !important;
    box-shadow: none !important;
    font-size: 1.1rem;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s all ease-in-out;
}

.subscribe_form .form-group button:hover {
    background: var(--hover-color)
}

.wrapper_footer {
    background: #0f1b28
}

.wrapper_footer:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    background: url(../images/footer-top-bg.png) no-repeat;
    transform: translateY(-50%);
}

.wrapper__top {
    position: relative;
    z-index: 2;
}

.footer__logo a img {
    width: 100%;
}

.footer__title {
    padding-top: 30px;
    color: #fff;
}

.footer__title h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.footer__image {
    width: 30%;
    overflow: hidden;
}

.footer__image a,
.footer__name a {
    display: block;
}

.footer__image img {
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer__name {
    width: 70%;
    padding-left: 10px;
}

.footer__name a {
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    transition: .3s all ease-in-out;
}

.footer__name a:hover {
    color: var(--main-color)
}

.footer__content p {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.4;
}

.footer__content ul li i {
    color: var(--main-color);
}

.footer__content ul li i:before {
    margin-left: 0;
    font-size: 1.3rem;
}

.footer__content ul li {
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
}

.footer__gallary ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__gallary ul li {
    padding: 3px;
    width: calc(100% / 3);
    overflow: hidden;
}

.footer__gallary ul li img {
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer__item ul li:hover img {
    transform: scale(1.05);
}

.footer__item ul li:hover .footer__title h4 {
    color: var(--main-color)
}

.footer__content ul li .footer__desc {
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.4;
    padding-left: 10px;
}

.wrapper__bottom {
    text-align: center;
    font-size: 1rem;
    color: #fff;
    position: relative;
    z-index: 2;
    padding: 30px 0;
    border-top: 2px solid #fff;
}

.wrapper__bottom a {
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}

.wrapper__bottom a:hover {
    color: var(--main-color)
}

@media screen and (min-width: 991px) {
    .wrapper_header.wrapper__page {
        position: relative;
        top: unset;
        left: unset;
    }

    .wrapper__page .header_navigation > ul > li > a {
        color: #000
    }
}

.wrapper_breadcrumb {
    z-index: 1;
    padding: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: URL(../images/breadcrumbs.jpg);
}

.wrapper_breadcrumb:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, .5)
}

.wrapper_breadcrumb .breadcrumb {
    position: relative;
    z-index: 3;
    background-color: transparent;
}

.wrapper_breadcrumb .breadcrumb a {
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    transition: .3s all ease-in-out;
}

.wrapper_breadcrumb .breadcrumb a.active {
    color: var(--main-color)
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}

.wrapper_breadcrumb .breadcrumb a:hover {
    color: var(--main-color)
}

.breadcrumb_title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    z-index: 3;
}

.wrapper_counter {
    z-index: 1;
    padding: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: URL(../images/about/bg-counter.jpg);
}

.wrapper_counter:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, .6)
}

.wrapper_counter .col-lg-3.col-sm-6:last-child .counter__inner::after {
    display: none;
}

.counter__inner {
    text-align: center;
    position: relative;
    z-index: 2;
}

.counter__inner::after {
    position: absolute;
    content: "";
    top: 0;
    right: -10px;
    width: 1px;
    height: 100%;
    background: #fff;
}

.wrapper_counter .col-md-3:last-child .counter__inner::after {
    display: none;
}

.counter__number {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
}

.counter__title {
    font-size: 1.2rem;
    color: #fff;
}

.history__inner {
    padding: 30px;
    background: #f8f9f9
}

.history__inner .history__image img {
    width: 100%;
}

.history__content {
    margin-top: 30px;
}

.history__content h4 {
    font-size: 2.2rem;
    color: #000;
}

.history__content h3 {
    color: var(--main-color);
    font-size: 3.5rem;
    font-weight: bold;
}

.history__desc {
    color: #555;
    font-size: 1.15rem;
    line-height: 1.4;
}

@media screen and (min-width: 576px) {
    .history__number {
        width: 180px;
    }

    .history__desc {
        padding-left: 30px;
        width: calc(100% - 180px);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.w_header.header__scroll {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    box-shadow: 0 0 3px rgba(81, 136, 136, 0.1);
    background: #181818;
}

.wrapper__page .w_header.header__scroll {
    background-color: #fff;
}


.w_top {
    background-color: var(--main-color);
    padding: 10px 0;
}

.top__contact ul {
    display: flex;
    flex-wrap: wrap;
}

.top__contact ul li {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-right: 15px;
}

.top__contact ul li i:before {
    margin-left: 0;
    margin-right: 5px;
    font-size: 15px;
}

.top__social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.top__social ul li img {
    width: 26px;
    margin: 0 5px;
    transition: .3s all ease-in-out;
}

.top__social ul li:hover img {
    transform: translateY(-5px);
}

.contact__item {
    width: 100%;
    padding: 30px 25px;
    margin-bottom: 25px;
    box-shadow: 0 5px 5px rgba(136, 136, 136, 0.05);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}

.contact__item:hover {
    box-shadow: 0 5px 5px rgba(136, 136, 136, 0.12);
}

.contact__item .contact__icon {
    width: 70px;
}

.contact__item .contact__icon span {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

.background-green {
    background: var(--main-color);
}

.background-orange {
    background: var(--orange-color)
}

.background-blue {
    background: var(--blue-color)
}

.contact__item .contact__icon span i:before {
    margin-left: 0;
    font-size: 26px;
}

.contact__item .contact__text {
    width: calc(100% - 70px);
    font-weight: 400;
    font-size: 16px;
    color: #716c80;
    line-height: 24px;
}

.contact__map iframe {
    width: 100%;
    height: 450px;
    vertical-align: middle;
}

.contact__form input, .contact__form textarea {
    border-radius: 0;
    border: 1px solid #d1d1d1;
    box-shadow: none !important;
    font-size: 17px;
}

.sidebar__inner {
    margin-bottom: 40px;
    border: 1px solid #d1d1d1;
    padding: 30px;
    background-color: #fff;
}

.sidebar__title h5,
.single-related h5{
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
    padding-bottom: 15px;
}

.sidebar__title h5:before,
.single-related h5:before{
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 50px;
    height: 2px;
    left: 0;
    z-index: 1;
    background: var(--main-color);
}

.sidebar_category ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: .9rem;
}

.sidebar_category ul li:not(:last-child) a {
    border-bottom: 1px dotted #d1d1d1;
}

.sidebar_category ul li a .list__name {
    font-size: 1rem;
}


.sidebar_category ul li a .list__count {
    height: 25px;
    min-width: 25px;
    border-radius: 100%;
    background: var(--main-color);
    color: #fff;
    font-size: .8rem;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    opacity: .7;
}

.sidebar_gallery ul li {
    width: calc(100% / 3);
    padding: 2px;
    overflow: hidden;
}

.sidebar_gallery ul li a {
    display: block;
}

.sidebar_gallery ul li img {
    width: 100%;
}

.sidebar_blog ul li a {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 15px 0;
}

.sidebar_blog ul li:not(:last-child) a {
    border-bottom: 1px solid #d9d9d9;
}

.sidebar_blog ul li a .blog__image {
    width: 100px;
    overflow: hidden;
}

.sidebar_blog ul li a .blog__image img {
    width: 100%;
    transition: .3s all ease-in-out;
}

.sidebar_blog ul li a .blog__desc {
    width: calc(100% - 100px);
    padding-left: 10px;
}

.sidebar_blog ul li a .blog__desc h5 {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px;
    transition: .3s all;
}

.sidebar_blog ul li a .blog__desc span {
    font-size: .9rem;
    color: #555;
}

.sidebar_blog ul li:hover img {
    transform: scale(1.05);
}

.sidebar_blog ul li:hover .blog__desc h5 {
    color: var(--main-color)
}

.search_keyword {
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #d9d9d9;
    color: #000;
    font-size: 1.1rem;
}

.search_keyword b {
    color: #ff0000
}

.pagination-outer {
    text-align: center;
}

.pagination {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 15px 20px;
    display: inline-flex;
}

.pagination li a.page-link {
    color: #333;
    background-color: transparent;
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0 10px;
    border: none;
    border-radius: 15px;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
    outline: none !important;
    box-shadow: none !important;
}

.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover {
    color: #fff;
    background-color: transparent;
}

.pagination li a.page-link:focus,
.pagination li.active a.page-link:focus {
    color: #fff;
    background-color: transparent;
}

.pagination li a.page-link:before,
.pagination li a.page-link:after {
    content: '';
    background: #d1d1d1;
    height: 80%;
    width: 80%;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    transition: all 0.3s ease 0s;
}

.pagination li a.page-link:before {
    background: linear-gradient(#43cea2, #185a9d);
    top: 100%;
}

.pagination li a.page-link:hover:after {
    opacity: 1;
}

.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:before {
    opacity: 1;
    top: 50%;
}

.pagination li a.page-link:focus:after,
.pagination li.active a.page-link:after {
    opacity: 0;
}

@media only screen and (max-width: 480px) {
    .pagination {
        font-size: 0;
        display: block;
    }

    .pagination li {
        display: inline-block;
        margin: 0 0 10px;
    }
}

.single_title {
    padding: 15px 0;
}

.single_title h1 {
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0;
}

.single_meta {
    color: #333;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.single_meta span {
    display: inline-block;
    padding-right: 15px;
    position: relative;
}

.single_meta span:not(:last-child):after {
    position: absolute;
    content: "";
    width: 1px;
    height: 12px;
    right: 4px;
    top: 50%;
    background: #d1d1d1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.single_main {
    color: #716c80;
    font-size: 1rem;
}

.single-related .blog_content {
    padding: 15px;
}

.single-related .blog__title a h5 {
    font-size: 1rem;
}

.single-related .blog__desc p,
.single-related .blog__desc p a {
    font-size: .9rem;
}

.single-related .blog__link a {
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .banner__title {
        font-size: 2rem;
    }

    .banner__desc {
        max-width: 80%;
        font-size: 1rem;
    }

    .wrapper_category {
        padding: 50px 0;
    }

    .wrapper_title_01 {
        margin-bottom: 30px;
    }

    .wrapper_title_01 h3 {
        font-size: 1.4rem;
    }

    .wrapper_title_01 p {
        line-height: 24px;
    }

    .category__inner {
        text-align: center;
        padding: 10px;
    }

    .category__image, .category__content {
        width: 100%;
    }

    .category__image {
        margin-bottom: 20px;
    }

    .category_main .row.justify-content-center {
        margin-left: -5px;
        margin-right: -5px;
    }

    .category_main .row.justify-content-center [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }

    .category__content h5 {
        font-size: 1rem;
    }

    .category__content p {
        font-size: .9rem;
    }

    .about_image {
        right: unset;
        margin-left: unset;
    }

    .py-100px {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .wrapper_title_02 h3 {
        font-size: 1.3rem;
        line-height: 1.6;
        font-weight: bold;
    }

    .about__desc h5 {
        font-size: 1.2rem;
    }

    .about_inner p {
        font-size: 1rem;
    }

    .button_left .style_button {
        margin-top: 2rem;
    }

    .wrapper_title_02 h2 {
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.4;
    }

    .wrapper_title_02 h2 span {
        font-size: 1.4rem;
    }

    .button_left .style_button {
        margin-left: auto;
        margin-right: auto;
    }

    .blog_content {
        padding: 15px;
    }

    .blog__title a h5 {
        font-size: 1.1rem;
    }

    .blog__desc p,
    .blog__desc p a {
        font-size: .95rem;
    }

    .blog__link a {
        font-size: 1rem;
    }

    .subscribe_title h5 {
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .footer__item.mb-5 {
        margin-bottom: 0rem !important;
    }

    .footer__content p,
    .footer__content ul li .footer__desc {
        font-size: 1rem;
    }

    .footer__title {
        padding-top: 20px;
    }

    .footer__title h4 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .wrapper__bottom {
        margin-top: 30px;
    }

    .w_top {
        display: none;
    }

    .wrapper_header.wrapper__page {
        position: relative;
        top: 0;
        background-color: #181818;
    }

    .wrapper__page .w_header.header__scroll {
        background: #181818;
    }

    .breadcrumb_title {
        font-size: 1.2rem;
    }

    .wrapper_breadcrumb {
        padding: 40px;
    }

    .wrapper_breadcrumb .breadcrumb a {
        font-size: 1rem;
    }

    .contact__form {
        margin-top: 2rem;
    }

    .counter__inner::after {
        display: none;
    }

    .counter__inner {
        margin-bottom: 1rem;
    }

    .counter__number {
        font-size: 1.1rem;
    }

    .counter__title {
        font-size: 1rem;
    }

    .history__content h4 {
        font-size: 1.3rem;
    }

    .history__content h3 {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .counter__inner::after {
        display: block;
    }

    .counter__inner {
        margin-bottom: 1.5rem;
    }

    .wrapper_counter .col-lg-3.col-sm-6:nth-child(even) .counter__inner::after {
        display: none;
    }
}